body { 
    margin: 0; 
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height:100vh;  /* Full height of the viewport */
    width: 100vw;   /* Full width of the viewport */
    background-color: #350b76a3; 
} 
.header{
    margin: 0;
    padding: 0;
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%;
    width:10%;
    background-color: rgb(164, 143, 100);
    overflow: hidden;
    font-size: 7vmin;
    font-family: "comic sans";
    color:#fff;
    text-align: center;
}

/*
canvas {
    width: 100%;
    height: 100%;

#game-container { 
    width: 800px; 
    height: 600px; 
    border: 2px solid #fff; 
}  remember this code